<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework, Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="MedicalTestDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\MedicalTest\DAL\MedicalTestDB.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>